---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="acerca de cojudeces.com"
	description="descripción de la misión y los integrantes de cojudeces.com"
	image=""
>
	<h1 class="title">acerca de...</h1>
	<h2 class="subtitle">quiénes somos</h2>
	<p>
		cojudeces.com está con­for­mado por seis ami­gos (el escuadrón) que se conocieron en el Perú y que con el paso de los años han ido des­perdigán­dose por el resto del planeta.
	</p>	
		
	<h2 class="subtitle mt-4">misión</h2>
	
		<p>
			nues­tra mis­ión es ayu­darnos a recu­perar la capaci­dad de asom­bro que nos mantiene salud­ables, contentos, y productivos.  Asom­brarnos con las cojude­ces que ocur­ren a diario y que hemos dejado de apre­ciar por culpa de la rutina, la iner­cia, la adul­tez, el éxito, los fra­casos, y todas las demás excusas.</p><br>
		<p>
			cojudeces.com llegó a la web en el año 2006. Recordamos con nostalgia que fuimos uno de los primeros blogs y nos sentimos orgullosos de haber obtenido el <u>nom­bre de dominio que mere­ce­mos</u>. Luego desafor­tu­nada­mente fuimos víc­ti­mas de todas esas excusas y nos ale­jamos por cuatro años de inter­net. Pero cada cierto tiempo, en las mañanas del mes octubre… nos dan ganas de volver.</p>
	
	<h2 class="subtitle mt-4">escuadrón</h2>
		<ul class="list-inside list-disc">
			<li><u>mediodiablo</u>: miembro fundador, managing partner, principal contribuyente y, como se lo dijo hubert lanssiers en el colegio: "si los cojudos volaran, tú serías el líder del escuadrón."</li>
			<li><u>fresa</u>: ex-fumador de marlboros, ex-aficionado a la hípica y los casinos, aficionado al fitness, navy seal, y apostador inteligente.</li>
			<li><u>puñete</u>: bisabuelo del movimiento <a class="cody-link inline-block" href="https://en.wikipedia.org/wiki/FIRE_movement">fire</a> que se popularizó durante la última década, profesional de la ingeniería y del fisicoculturismo.</li>
			<li><u>jano</u>: alias "el millonario", padre de familia, persona responsable, vive la vida en <em>first person mode</em>.</li>
			<li><u>zahir</u>: persona de alto mantenimiento, su sobrenombre sale del cuento de jorge luis borges, experto de la hípica internacional, ex-banquero y ex-alumno de la u de lima.</li>
			<li><u>jashim</u>: buscador de aventuras, vagabundo, orador y comediante talentoso, aficionado a la historia militar. número de países visitados: 77 y contando.</li>
		</ul> 
		
	
</Layout>

